@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

nav.fixed {
  padding: 0!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
}

nb-layout-column {
  padding: 0!important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.input-margin {
  margin-bottom: 10px;
}

.image-cropper {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.image-cropper img{
  display: block;
  // margin: 0 auto;
  height: auto;
  width: 100%; 
  // margin: 0 0 0 -20%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;  
}