<div class="container">
  <nb-accordion>
    <nb-accordion-item *ngFor="let planet of planets">
      <nb-accordion-item-header style="display: flex">
        <div style="flex: 0.1;" class="image-cropper">
          <img [src]="planet.image">
        </div>
        <div style="flex: 0.01"></div>
        <div style="flex: 1">
          <div style="font-size: 25px;">{{ planet.name }}</div>
          <div>Status: {{ planet.status }}</div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        {{ planet.description }}
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

</div>