<div class="container">
  <br>

  <button nbButton fullWidth status="primary" (click)="createPlanet()">
    <nb-icon icon="plus"></nb-icon> Add Planet
  </button>

  <br><br>

  <nb-accordion>
    <nb-accordion-item *ngFor="let planet of planets">
      <nb-accordion-item-header style="display: flex">
        <div [style]="breakpoint.isHandset ? 'flex: 0.5' : 'flex: 0.1;'" class="image-cropper">
          <img [src]="planet.image">
        </div>
        <div style="flex: 0.01"></div>
        <div style="flex: 1">
          <div style="font-size: 25px;">{{ planet.name }}</div>
          <div>Status: {{ planet.status }}</div>
        </div>
        <div style="flex: 0.3;">
          <nb-button-group>
            <button nbButton status="primary" (click)="editPlanet(planet)"><nb-icon icon="edit"></nb-icon></button>
            <button nbButton status="danger" (click)="deletePlanet(planet)"><nb-icon icon="trash"></nb-icon></button>
          </nb-button-group>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        {{ planet.description }}
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

  <br><br><br><br>

</div>