<div class="container">
  <br>

  <button nbButton fullWidth status="primary" (click)="createCrew()">
    <nb-icon icon="plus"></nb-icon> Add Crew
  </button>

  <br><br>

  <nb-card *ngFor="let crew of crews" style="margin: 0">
    <nb-card-body style="display: flex">

      <div style="flex: 1">
        <b style="font-size: 20px;">{{ crew.crewName }}</b>
        <div *ngFor="let member of crew.crewMembers">{{ member.name }}</div>
      </div>

      <div style="flex: 0.3;">
        <nb-button-group>
          <button nbButton status="primary" (click)="editCrew(crew)"><nb-icon icon="edit"></nb-icon></button>
          <button nbButton status="danger" (click)="deleteCrew(crew)"><nb-icon icon="trash"></nb-icon></button>
        </nb-button-group>
      </div>
    </nb-card-body>
  </nb-card>

</div>