<div class="container" style="max-width: 450px;">
  <form [formGroup]="crewForm" (ngSubmit)="onSubmit()">
    <nb-card>
      <nb-card-body>
        <!-- {{ planet?.name }} -->

        <label style="font-size: 25px;"><b>Crew</b></label><br><br>
        <input nbInput fullWidth name="crewForm" class="input-margin" placeholder="Crew Name"
         formControlName="crewName"
         [status]="((crewName?.invalid && crewName?.touched) || crewName?.dirty) && crewName?.invalid ? 'danger' : 'basic'"/>
        <div *ngIf="(crewName?.invalid && crewName?.touched) || crewName?.dirty">
          <small *ngIf="(crewName?.errors || {})['required']" class="text-danger">Crew name is required</small>
        </div>
        <input nbInput fullWidth name="crewForm" class="input-margin" placeholder="Shuttle Name" formControlName="shuttleName"/>
        <br>

        <div style="overflow-y: scroll; width: 500px; height: 200px; display: flex">
          <div style="flex: 1">
            Candidates: <br>
            <button nbButton *ngFor="let candidate of candidateMembers"  size="small" style="margin-bottom: 5px; display: inline" (click)="addCrewMember(candidate)">
              {{ candidate.name }} <div style="font-size: 10px; text-align: left">{{ candidate.Species }} | {{ candidate.Rank }}</div>
            </button>
          </div>
          <div style="flex: 1">
            Crew Members: <br>
            <button nbButton *ngFor="let member of crew?.crewMembers" style="margin-bottom: 5px; display: inline" (click)="removeCrewMember(member)" size="small">
              {{ member.name }} <div style="font-size: 10px; text-align: left">{{ member.Species }} | {{ member.Rank }}</div>
            </button>
          </div>
        </div>

        <button nbButton fullWidth type="submit" *ngIf="!creationMode" status="success">Update Crew</button>
        <button nbButton fullWidth type="submit" *ngIf="creationMode" status="success">Create Crew</button>
      </nb-card-body>
    </nb-card>
  </form>
</div>