<nb-layout>

  <nb-layout-header *ngIf="!breakpoint.isHandset && auth.isLoggedIn()" fixed class="display: flex">
  <!-- Insert header here -->
    <!-- <nb-card>
      <nb-menu [items]="items">
      </nb-menu>
    </nb-card> -->

    <div style="flex: 1"><b>PlanetsAPP</b></div>

    <nb-card style="margin: 0; flex: 2.5; height: 100%">
      <nb-card-body style="padding: 0;">
        <nb-button-group (valueChange)="updateSingleSelectGroupValue($event)" style="height: 100%; width: 100%">
            <button nbButtonToggle value="planets" [pressed]="path == '/planets'"  fullWidth (click)="router.navigate(['\planets'])"><nb-icon icon="globe-3"></nb-icon> Planets</button>
          <button nbButtonToggle value="crews" [pressed]="path == '/crews'"  fullWidth (click)="router.navigate(['\crews'])"><nb-icon icon="person"></nb-icon> Crews</button>
        </nb-button-group>
      </nb-card-body>
    </nb-card>

    <div style="flex: 1;">
      <nb-user *ngIf="auth.user" style="float: right" [name]="auth.user.name || 'John Doe'" [title]="auth.user.Rank" [nbContextMenu]="[{ title: 'Profile'} , { title: 'Logout' }]" nbContextMenuTag="my-context-menu"></nb-user>
    </div>

  </nb-layout-header>

  <nb-layout-column>    
    <router-outlet></router-outlet>

    <nb-card *ngIf="breakpoint.isHandset && auth.isLoggedIn()" style="position: fixed; left: 0; bottom: -30px; width: 100%; text-align: center;">
      <nb-card-body>
        <nb-actions size="medium" fullWidth>
          <nb-action icon="globe-3" (click)="router.navigate(['\planets'])"></nb-action>
          <nb-action icon="person" (click)="router.navigate(['\crews'])"></nb-action>
          <nb-action icon="settings-outline" (click)="router.navigate(['\profile'])"></nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>



  <!-- <nb-layout-footer fixed>
  </nb-layout-footer> -->

</nb-layout>
